/* 大枠の設定 */

html {
    background-color: whitesmoke;
    overflow-x: hidden;
}

body {

    /* フォント */
    font-family: sans-serif;

    margin: 0;

    /* 文字選択の禁止 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

/* header関連 */

header {
    position: relative;
    /* background-color: darkslateblue; */
    background-color: rgb(61, 62, 139);
    box-shadow: 0 0 10px grey;
    margin-bottom: 17px;
}

.header_inner {
    height: 57px;
}

.title {
    padding-top: 5px;
    text-align: center;
    color: aliceblue;
    font-size: 40px;
    margin: 0;
}

.tbos_logo {
    height: 29px;
    width: 49px;
}

.tbos_title {
    width: 120px;
    height: 35px;
}

/* スマホのみのナビ */

.mobile_nav {
    display: none;
    /* background-color: darkslateblue; */
    background-color: rgb(61, 62, 139);
    z-index: 10000;
    font-size: 18px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.mobile_nav ul {
    list-style: none;
    display: flex;
    margin: 10px;
    justify-content: center;
    padding-left: 0;
}

.mobile_nav li {
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: justify;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

/* メインコンテンツの設定 */

main {
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0px;
}

#date {
    position: absolute;
    color: #34495E;
    top: 67px;
    left: 5px;
    margin: 0px;
    font-weight: bold;
}

.main_parents {
    display: flex;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

/* TBoSトレンド関連 */

#TBoS_trends {

    /* カウンター */
    counter-reset: number 0;

    overflow: scroll;
    background-color: white;
    height: 83vh;
    width: 60%;
    margin-right: 2%;
    box-shadow: 0 0 6px grey;
}

#TBoS_trends::-webkit-scrollbar {
    display: none;
}

h2 {
    position: sticky;
    font-size: 28px;
    top: 0;
    margin-top: 0px;
    border-bottom: 3px solid #819dfa;
    background-color: lightgrey;
    color: #34495E;
    padding-left: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
}

h2:before {
    font-family: 'Font Awesome 6 Free';
    font-size: 50px;
    content: '\e098';
    color: orange;
    display: block;
    position: absolute;
    top: 50%;
    padding-left: 5px;
    left: 3px;
    transform: translateY(-50%);
}

/* .tbos_number {
    color: orange;
    font-size: 35px;
} */

.data_of_tbos {
    cursor: pointer;
    text-decoration: none;
    color: #34495E;


}

.data_of_tbos:hover {
    color: cornflowerblue;
    text-decoration: underline;
}

.tbos_trend {
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 2.90em;
    text-indent: -2.90em;
}

/* カウンター */
/* .tbos_trend:before { */

/* number カウンタの増加数をセット */
/* counter-increment: number 1; */

/* 表示形式を指定 */
/* content: counter(number) " ";

    text-align: center;

    color: orange;
    font-size: 35px; */
/* } */

.tbos_number {

    text-align: center;
    color: orange;
    font-size: 32px;

    /* widthを指定するためのdisplay */
    display: inline-block;
    width: 44px;

    /* 継承の解除 */
    margin-left: 0em;
    text-indent: -0em;
}


/* .tbos_content_13 {
    display: none;
} */

/* TBoS以外のトレンド */

.others {
    background-color: whitesmoke;
    width: 38%;
    height: 83vh;
}

/* Twitterトレンド関連 */

#only_twitter_trends {

    /* カウンター */
    counter-reset: number 0;

    overflow: scroll;
    height: 48.27vh;
    box-shadow: 0 0 4px grey;
    background-color: white;

}

#only_twitter_trends::-webkit-scrollbar {
    display: none;
}

h3.twitter_title {
    top: 0;
    margin-top: 0px;
    margin-bottom: 10px;
    position: sticky;
    border-bottom: 3px solid #819dfa;
    background-color: lightgrey;
    color: #34495E;
    padding-left: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h3.twitter_title:before {
    font-family: 'Font Awesome 6 Brands';
    font-size: 30px;
    content: '\f099';
    color: #6989f3;
    display: block;
    position: absolute;
    top: 50%;
    left: 3px;
    padding-left: 5px;
    transform: translateY(-50%);
}

/* .twitter_number {
    color: #6989f3;
    font-size: 25px;
} */

.data_of_twitter {
    cursor: pointer;
    text-decoration: none;
    color: #34495E;
}

.data_of_twitter:hover {
    color: cornflowerblue;
    text-decoration: underline;
}

.twitter_trend {
    color: cornflowerblue;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 0px;
    padding: 10px;
    margin-left: 2.60em;
    text-indent: -2.60em;
}

/* .twitter_trend:before { */

/* number カウンタの増加数をセット */
/* counter-increment: number 1; */

/* 表示形式を指定 */
/* content: counter(number) " ";

    color: #6989f3;
    font-size: 25px; */
/* } */

.twitter_number {

    text-align: center;
    color: #6989f3;
    font-size: 25px;

    /* widthを指定するためのdisplay */
    display: inline-block;
    width: 38px;

    /* 継承の解除 */
    margin-left: 0em;
    text-indent: -0em;
}

/* Googleトレンド関連 */

#only_google_trends {

    /* カウンター */
    counter-reset: number 0;
    overflow: scroll;
    height: 32.18vh;
    box-shadow: 0 0 4px grey;
    background-color: white;
    margin-top: 2.55vh;
}

#only_google_trends::-webkit-scrollbar {
    display: none;
}

h3.google_title {
    top: 0;
    margin-top: 0px;
    margin-bottom: 10px;
    position: sticky;
    border-bottom: 3px solid #819dfa;
    background-color: lightgrey;
    color: #34495E;
    padding-left: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h3.google_title:before {
    font-family: 'Font Awesome 6 Brands';
    font-size: 30px;
    content: '\f1a0';
    color: #6989f3;
    display: block;
    position: absolute;
    top: 50%;
    padding-left: 5px;
    left: 3px;
    transform: translateY(-50%);
}

/* .google_number {
    font-size: 25px;
    color: #6989f3;
} */

.data_of_google {
    cursor: pointer;
    text-decoration: none;
    color: #34495E;
}

.data_of_google:hover {
    color: cornflowerblue;
    text-decoration: underline;
}

.google_trend {
    font-weight: bold;
    color: cornflowerblue;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 0px;
    padding: 10px;
    margin-left: 2.62em;
    text-indent: -2.62em;
}

/* .google_trend:before { */

/* number カウンタの増加数をセット */
/* counter-increment: number 1; */

/* 表示形式を指定 */
/* content: counter(number) " ";

    color: #6989f3;
    font-size: 25px;
} */

.google_number {

    text-align: center;
    color: #6989f3;
    font-size: 25px;

    /* widthを指定するためのdisplay */
    display: inline-block;
    width: 38px;

    /* 継承の解除 */
    margin-left: 0em;
    text-indent: -0em;
}

/* footer関連 */

footer {
    /* background-color: white; */
    background-color: whitesmoke;
    color: #757575;
    /* border: 1px solid #E6E7E8; */
    /* padding: 10px; */
    /* padding-bottom: 10px; */
    padding-right: 10px;
    /* text-align: right; */
    position: absolute;
    bottom: 0;
    right: 0;
}

/* アコーディオンメニュー */

input {
    display: none;
}

.content_text {
    display: flex;
    height: 0px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.tbos_graph_parents {
    width: 150px;
    height: 1000px;
}

.tbos_news {
    padding: 5px;
    padding-top: 10px;
}

.tbos_news_link {
    font-size: 17px;
    color: #6989f3;
}

.tbos_news_link:hover {
    text-decoration: underline;
}

.google_news {
    padding: 5px;
    padding-top: 0px;
    padding-left: 15px;
}

.google_news_link {
    font-size: 15px;
    color: #6989f3;
}

.google_news_link:hover {
    text-decoration: underline;
}

.google_picture{
    width:50px;
    height:50px;
}

/* TBoSのメニュー */


#tbos_menu_bar0:checked~#tbos_links0,
#tbos_menu_bar1:checked~#tbos_links1,
#tbos_menu_bar2:checked~#tbos_links2,
#tbos_menu_bar3:checked~#tbos_links3,
#tbos_menu_bar4:checked~#tbos_links4,
#tbos_menu_bar5:checked~#tbos_links5,
#tbos_menu_bar6:checked~#tbos_links6,
#tbos_menu_bar7:checked~#tbos_links7,
#tbos_menu_bar8:checked~#tbos_links8,
#tbos_menu_bar9:checked~#tbos_links9,
#tbos_menu_bar10:checked~#tbos_links10,
#tbos_menu_bar11:checked~#tbos_links11,
#tbos_menu_bar12:checked~#tbos_links12,
#tbos_menu_bar13:checked~#tbos_links13,
#tbos_menu_bar14:checked~#tbos_links14,
#tbos_menu_bar15:checked~#tbos_links15,
#tbos_menu_bar16:checked~#tbos_links16,
#tbos_menu_bar17:checked~#tbos_links17,
#tbos_menu_bar18:checked~#tbos_links18,
#tbos_menu_bar19:checked~#tbos_links19,
#tbos_menu_bar20:checked~#tbos_links20 {
    border-bottom: 1px solid #E6E7E8;
    height: 130px;
    opacity: 1;
}


/* Twitterのメニュー */

#twitter_menu_bar0:checked~#twitter_links0,
#twitter_menu_bar1:checked~#twitter_links1,
#twitter_menu_bar2:checked~#twitter_links2,
#twitter_menu_bar3:checked~#twitter_links3,
#twitter_menu_bar4:checked~#twitter_links4,
#twitter_menu_bar5:checked~#twitter_links5,
#twitter_menu_bar6:checked~#twitter_links6,
#twitter_menu_bar7:checked~#twitter_links7,
#twitter_menu_bar8:checked~#twitter_links8,
#twitter_menu_bar9:checked~#twitter_links9,
#twitter_menu_bar10:checked~#twitter_links10,
#twitter_menu_bar11:checked~#twitter_links11,
#twitter_menu_bar12:checked~#twitter_links12,
#twitter_menu_bar13:checked~#twitter_links13,
#twitter_menu_bar14:checked~#twitter_links14,
#twitter_menu_bar15:checked~#twitter_links15,
#twitter_menu_bar16:checked~#twitter_links16,
#twitter_menu_bar17:checked~#twitter_links17,
#twitter_menu_bar18:checked~#twitter_links18,
#twitter_menu_bar19:checked~#twitter_links19 {
    border-bottom: 1px solid #E6E7E8;
    height: 60px;
    opacity: 1;
}

/* Googleのメニュー */

#google_menu_bar0:checked~#google_links0,
#google_menu_bar1:checked~#google_links1,
#google_menu_bar2:checked~#google_links2,
#google_menu_bar3:checked~#google_links3,
#google_menu_bar4:checked~#google_links4,
#google_menu_bar5:checked~#google_links5,
#google_menu_bar6:checked~#google_links6,
#google_menu_bar7:checked~#google_links7,
#google_menu_bar8:checked~#google_links8,
#google_menu_bar9:checked~#google_links9 {
    border-bottom: 1px solid #E6E7E8;
    height: 70px;
    opacity: 1;
}

/* スマホ用のレイアウト */

@media screen and (max-width: 767px) {

    .header_inner {
        padding-top: 8px;
        padding-bottom: 8px;
        /* height: 80px; */
    }

    .mobile_nav {
        display: block;
    }

    main {
        margin: 0px;
    }

    #date {
        position: absolute;
        color: #34495E;
        top: 67px;
        left: 5px;
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
        font-weight: bold;
    }

    .others {
        height: auto;
    }

    .main_parents {
        display: block;
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }

    /* スマホ用のTBoSトレンド */

    #TBoS_trends {
        overflow: hidden;
        height: auto;
        width: 100%;
        padding-bottom: 30px;
        margin-bottom: 50px;
        margin-top: 35px;
    }

    .tbos_trend {
        font-size: 24px;
    }

    .data_of_tbos:hover {
        color: #34495E;
        text-decoration: none;
    }

    /* スマホ用のOnlyTwitterトレンド */

    #only_twitter_trends {
        overflow: hidden;
        height: auto;
        width: 98vw;
        margin-top: 15px;

    }

    h3.twitter_title {
        font-size: 23px;
    }

    .twitter_trend {
        font-size: 20px;
    }

    /* .twitter_number {
        font-size: 30px;
    } */

    .twitter_trend:before {
        font-size: 25px;
    }

    .data_of_twitter:hover {
        color: #34495E;
        text-decoration: none;
    }

    /* スマホ用のOnlyGoogleトレンド */

    #only_google_trends {
        overflow: hidden;
        height: auto;
        width: 98vw;
        margin-bottom: 15px;
    }

    h3.google_title {
        font-size: 23px;
    }

    .google_trend {
        font-size: 20px;
    }

    .google_trend:before {
        font-size: 25px;
    }

    .data_of_google:hover {
        color: #34495E;
        text-decoration: none;
    }

    /* スマホ用のfooter */

    footer {
        /* background-color: white; */
        /* border: 1px solid #E6E7E8;  */
        padding: 10px;
        padding-bottom: 10px;
        margin-bottom: 60px;
        text-align: center;
        position: unset;
    }

}