html {
    background-color: lightgray;
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: darkslateblue;
}

.header_inner {
    height: 80px;
}


.title {
    text-align: center;
    color: aliceblue;
    font-size: 60px;
    margin: 0;
}

main {
    margin: 20px;
    margin-top: 0;
}

.main_parents {
    display:flex;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.TBoS_trends {
    border: 1px solid gray;
    background-color: white;
    padding-left: 10px;
    width: 60%;
    margin-right: 2%;
}

.others {
    /* border: 1px solid gray; */
    background-color: lightgray;
    width: 38%;
}

.only_twitter{
    border: 1px solid gray;
    background-color: white;
    padding-left: 10px;

}

.only_google{
    border: 1px solid gray;
    background-color: white;
    padding-left: 10px;
    margin-top:10px;
}

.trend {
    text-decoration: underline;
    color: cornflowerblue;
    font-size: 30px;
}

footer {
    background-color: white;
    color: gray;
}

/* スマホ用のレイアウト */
@media screen and (max-width: 767px) {

    .header_inner {
        height: 80px;
    }

    main {
        margin: 0px;
    }

    .main_parents {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .trend {
        font-size: 20px;
    }
}