html {
    background-color: whitesmoke;
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
    margin: 0;
}

header {
    position: relative;
    background-color: darkslateblue;
    box-shadow: 0 0 10px grey;
    margin-bottom: 20px;
}

.header_inner {
    height: 57px;
}

.mobile_nav {
    display: none;
    background-color: darkslateblue;
    z-index: 10000;
    font-size: 18px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.mobile_nav ul {
    list-style: none;
    display: flex;
    margin: 10px;
    justify-content: center;
    padding-left: 0;
}

.mobile_nav li {
    margin-left: 5px;
    margin-right: 5px;
    padding-right:15px;
    padding-left:15px;
    text-align: justify;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.title {
    text-align: center;
    color: aliceblue;
    font-size: 40px;
    margin: 0;
}

main {
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0px;
}

.main_parents {
    display: flex;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

#TBoS_trends {
    overflow: scroll;
    background-color: white;
    height: 83vh;
    width: 60%;
    margin-right: 2%;
    box-shadow: 0 0 6px grey;
}

#TBoS_trends::-webkit-scrollbar {
    display: none;
}

h2 {
    position: sticky;
    top: 0;
    margin-top: 0px;
    border-bottom: 3px solid #819dfa;
    background-color: lightgrey;
    color: #34495E;
    padding-left: 75px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2:before {
    font-family: 'Font Awesome 6 Free';
    font-size: 50px;
    content: '\e098';
    color: orange;
    display: block;
    position: absolute;
    top: 50%;
    padding-left: 5px;
    left: 3px;
    transform: translateY(-50%);
}

.tbos_trend {
    text-decoration: underline;
    color: cornflowerblue;
    font-size: 30px;
    margin-top: 35px;
    padding-left: 10px;
}

.others {
    background-color: whitesmoke;
    width: 38%;
}

#only_twitter_trends {
    overflow: scroll;
    height: 48.27vh;
    box-shadow: 0 0 4px grey;
    background-color: white;

}

#only_twitter_trends::-webkit-scrollbar {
    display: none;
}

h4.twitter_title {
    top: 0;
    margin-top: 0px;
    position: sticky;
    border-bottom: 3px solid #819dfa;
    background-color: lightgrey;
    color: #34495E;
    padding-left: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h4.twitter_title:before {
    font-family: 'Font Awesome 6 Brands';
    font-size: 30px;
    content: '\f099';
    color: #6989f3;
    display: block;
    position: absolute;
    top: 50%;
    left: 3px;
    padding-left: 5px;
    transform: translateY(-50%);
}

.twitter_trend {
    text-decoration: underline;
    color: cornflowerblue;
    font-size: 20px;
    padding: 10px;
}

#only_google_trends {
    overflow: scroll;
    height: 32.18vh;
    box-shadow: 0 0 4px grey;
    background-color: white;
    margin-top: 15px;
}

#only_google_trends::-webkit-scrollbar {
    display: none;
}

h4.google_title {
    top: 0;
    margin-top: 0px;
    position: sticky;
    border-bottom: 3px solid #819dfa;
    background-color: lightgrey;
    color: #34495E;
    padding-left: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h4.google_title:before {
    font-family: 'Font Awesome 6 Brands';
    font-size: 30px;
    content: '\f1a0';
    color: #6989f3;
    display: block;
    position: absolute;
    top: 50%;
    padding-left: 5px;
    left: 3px;
    transform: translateY(-50%);
}

.google_trend {
    text-decoration: underline;
    color: cornflowerblue;
    font-size: 20px;
    padding: 10px;
}

footer {
    /* background-color: white; */
    background-color: whitesmoke;
    color: #757575;
    /* border: 1px solid #E6E7E8; */
    /* padding: 10px; */
    /* padding-bottom: 10px; */
    padding-right: 10px;
    text-align: right;

}

/* スマホ用のレイアウト */
@media screen and (max-width: 767px) {

    .header_inner {
        height: 80px;
    }

    .mobile_nav {
        display: block;
    }

    main {
        margin: 0px;
    }

    .main_parents {
        display: block;
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }

    #TBoS_trends {
        overflow: hidden;
        height: auto;
        width: 100%;
    }

    #only_twitter_trends {
        overflow: hidden;
        height: auto;
        width: 98vw;
        margin-top: 15px;

    }

    #only_google_trends {
        overflow: hidden;
        height: auto;
        width: 98vw;
        margin-bottom: 15px;
    }

    .tbos_trend {
        font-size: 20px;
    }

    .twitter_trend {
        font-size: 20px;
    }

    .google_trend {
        font-size: 20px;
    }

    footer {
        /* background-color: white; */
        /* border: 1px solid #E6E7E8;  */
        padding: 10px;
        padding-bottom: 10px;
        margin-bottom: 60px;
        text-align: center;
    }
}